@font-face {
  font-family: "bungee";
  src: url("/public/assets/fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}

@font-face {
  font-family: "uniSans";
  src: url("/public/assets/fonts/uni_Sans/uni-sans.heavy-caps.otf");
}

$typography: (
  "primary": "bungee",
  "secondary": "uniSans",
  "bold": 700,
  "fine": 400,
);
