@use "colors" as c;
@use "fonts" as f;
@use "mixins" as m;

.header {
  @include m.flex(flex, column, nowrap, center, center);
  height: 18em;
  &__title {
    font-family: "bungee";
    @include m.font(700, 2em, map-get(c.$colors, "black"));
  }
  &__banner {
    width: 85%;
    height: 15em;
  }
  &__banner-img {
    height: 100%;
  }
}
