@use "colors" as c;
@use "fonts" as f;
@use "mixins" as m;

.ingredients {
  align-self: end;
  @include m.flex(flex, column, nowrap, center, start);
  width: 20%;
  margin-left: 8em;
  align-self: start;
  padding: 0.5em;
  background: black;
  font-family: map-get(f.$typography, "secondary");
  border-radius: 10px;

  &__list {
    &-ingredient {
      margin: 1em 0.3em;
      @include m.font(700, 1em, map-get(c.$colors, "black"));
      width: 18em;
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
      color: white;

      &--span {
        width: 3em;
        height: 1.5em;
        background-color: gray;
        display: inline-block;
        border-radius: 30px;
        cursor: pointer;
        margin-right: 1em;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-image: url(public/assets/icon-x.png);
          background-size: 30%;
          position: relative;
          top: 20%;
          left: 15%;
          background-repeat: no-repeat;
          transition: 0.4s;
        }
      }
      &--checkbox {
        display: none;
        &:checked ~ .ingredients__list-ingredient--span::after {
          background-image: url(public/assets/icono-pizza.png);
          background-size: 35%;
          top: 10%;
          transform: translate(45%);
        }
      }
    }
  }

  &__title {
    font-size: 1.2em;
    color: orange;
  }
}
