@use "header";
@use "colors";
@use "fonts";
@use "section-ingredients";

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 42, 42, 0.521);
  justify-content: center;
}
