#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.header__title {
  font-size: 3em;
  font-weight: bold;
  font-family: "bungee";
}

.header__banner {
  width: 100%;
  height: 10em;
  /* background-image: url(../assets/pizza-restaurantes-restaurantes_con_estilo_250486533_48611563_1706x960.webp); */
  /* background-position: cover; */
  /* background-repeat: no-repeat; */
}

img {
  /* object-fit: cover; */
  width: 20em;
  height: 20em;
}
